.main {
	width: 7.5rem;
	margin: 0 auto;
	background: #f2f2f2;
	padding-bottom: .76rem
}

.main h2 {
	color: #004ea1;
	font-size: .4rem;
	font-weight: bold;
	text-align: center
}

.content-main,
.box01 {
	padding: 0 .24rem
}

.box02,
.box03,
.banner02,
.box04,
.box06 {
	padding: .5rem .24rem;
	background: #fff;
	margin-top: .5rem
}

.title-background {
	width: 7.5rem;
	height: 4.2rem;
	background-size: 100%
}

.title-background img {
	width: 100%;
	
	background-size: 100%
}

.content-main {
	background-color: #f2f2f2
}

.content-main .pic01 {
	width: 100%;
	height: 1.3rem;
	background: url("https://cdn.jsdelivr.net/gh/img-url/file/img/20210714000526.png"/*tpa=http://rdy.jxhuiwen.com/static/image/pic01.png*/) no-repeat;
	background-size: 100%;
	position: relative;
	top: -0.7rem;
	text-align: center;
	padding-top: .14rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column
}

.content-main .pic01 .content {
	display: flex;
	align-items: center;
	justify-content: center
}

.content-main .pic01 .content span:first-of-type {
	height: .5rem;
	line-height: .5rem;
	flex: 3;
	font-size: .26rem;
	color: #004ea1;
	font-weight: bold;
	text-align: left
}

.content-main .pic01 .top {
	background: #5165a2;
	border: 2px solid #266cfb;
	border-radius: .1rem;
	position: relative;
	flex: 5
}

.content-main .pic01 .top .runNum {
	margin: 0 auto;
	padding: 0 .2rem;
	overflow: hidden;
	width: 100%;
	height: .5rem;
	line-height: .5rem;
	text-align: center;
	font-weight: bold;
	position: relative
}

.content-main .pic01 .top .runNum li {
	list-style: none;
	width: .4rem;
	float: left;
	position: absolute;
	color: #fff
}

.content-main .pic01 .top .runNum li div {
	padding: 0 .16rem;
	font-size: .3rem
}

.content-main .pic01 .top .biao {
	position: absolute;
	height: .5rem;
	line-height: .5rem;
	right: .24rem;
	top: 0;
	color: #fff;
	font-size: .3rem
}

.content-main .pic01 #text {
	width: 5.8rem;
	height: .4rem;
	line-height: .36rem;
	overflow: hidden;
	position: relative;
	text-align-last: left;
	font-size: .16rem
}

.content-main .pic01 .ul,
.content-main .pic01 .swap {
	margin-top: .04rem;
	position: absolute;
	top: 0
}

.content-main .pic01 .ul>li,
.content-main .pic01 .swap>li {
	height: .36rem;
	line-height: .36rem;
	font-weight: 400;
	color: #949d9d
}

.box01 {

	text-align: center
}

.box01>h2 {
	font-size: .4rem;
	color: #004ea1;
	line-height: 48px;
	font-weight: bold
}

.box01 .radioList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.box01 .radioList li{
	margin-top: 0.2rem;
	width: 50%;
}

.box01 .radioList li input{
	width: 100%;
}

.box01 .inpt {
	display: flex;
	flex-direction: column;
	justify-content: space-between
}

.box01 .inpt input {
	width: 100%;
	font-size: .3rem;
	height: .88rem;
	border: 1px solid #1e51bf;
	border-radius: .08rem;
	padding-left: .88rem;
	box-sizing: border-box
}

.box01 .inpt input:last-of-type {
	margin-top: .2rem
}

.box01 .inpt>p {
	position: relative;
	height: .88rem;
	    margin: 10px;
}

.box01 .inpt>p::after {
	content: '';
	display: inline-block;
	width: .4rem;
	height: .4rem;
	background: url("https://cdn.jsdelivr.net/gh/img-url/file/img/20210714001116.png"/*tpa=http://rdy.jxhuiwen.com/static/image/icon_name.png*/) no-repeat;
	background-size: contain;
	position: absolute;
	left: .5rem;
	top: 50%;
	transform: translateX(-50%)
}

.box01 .inpt>p:last-of-type {
	margin: .2rem 0
}

.box01 .inpt>p:last-of-type:after {
	width: .4rem;
	height: .4rem;
	background: url("icon_phone.png"/*tpa=http://rdy.jxhuiwen.com/static/image/icon_phone.png*/) no-repeat;
	background-size: contain;
	left: .56rem
}

.box01 input::-webkit-input-placeholder {
	color: #959595;
	font-weight: 300
}

.box01 .btn {
	height: .88rem;
	background: #E11326;
	border-radius: 0.266666rem;
	margin-top: .2rem;
	text-align: center;
	line-height: .88rem;
	font-size: .3rem;
	font-weight: 400;
	color: #ffffff
}

.box02 {
	background: #fff;
	padding-top: .5rem;
	text-align: center
}

.box02 h2 {
	font-size: .4rem;
	color: #004ea1;
	font-weight: bold
}

.box02 h2 span {
	color: #e11326
}

.box02 p {
	color: #000000;
	font-size: .26rem;
	margin-top: .1rem
}

.box02 ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: .26rem
}

.box02 ul li {
	width: 40%;
	background: #f4f4f4;
	padding: .42rem .28rem;
	margin-bottom: .4rem;
	border-radius: .08rem;
	display: flex;
	align-items: center;
	justify-content: space-between
}

.box02 ul li>div:first-of-type {
	text-align: left
}

.box02 ul li>div:first-of-type p:first-of-type {
	font-size: .28rem;
	color: #000000
}

.box02 ul li>div:first-of-type p:last-of-type {
	font-size: .16rem;
	color: #797979
}

.box02 ul li .pic {
	width: .6rem;
	height: .6rem
}

.box02 ul li:last-of-type>div p:last-of-type {
	width: 1.42rem;
	height: .44rem;
	line-height: .44rem;
	text-align: center;
	font-size: .2rem;
	background: #e11326;
	opacity: .8;
	border-radius: .08rem
}

.box02 ul li:last-of-type>div p:last-of-type a {
	display: inline-block;
	width: 1.42rem;
	height: .44rem;
	line-height: .44rem;
	font-weight: bold
}

.box03 {
	background: #fff;
	text-align: center
}

.box03>h2 {
	color: #004ea1;
	font-size: .4rem
}

.box03 li {
	display: flex;
	justify-content: space-between;
	padding: .2rem 0;
	border-bottom: 1px dashed #f39ea6
}

.box03 li:first-of-type {
	color: #000000;
	background: #f4f4f4;
	margin-top: .46rem;
	border: 1px solid #004ea1
}

.box03 li:first-of-type>div {
	font-size: .28rem;
	font-weight: bold
}

.box03 li>div {
	font-size: .22rem
}

.banner02 {
	padding: 0 .24rem;
	background: transparent;
	background: #fff;
	margin-top: 0;
}

.banner03 {
	padding: 0 .24rem;
	background: transparent;
	background: #F2F2F2;
	margin-top: 0;
}

.box04 {
	text-align: center;
	background: #fff;
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-bottom: 0
}

.box04 ul {
	margin-top: .4rem;
	display: flex;
	padding: 0 .6rem 0 .1rem;
	justify-content: space-between
}

.box04 ul li {
	color: #070707;
	font-size: .3rem
}

.box04 ul li .pic-zan {
	width: .4rem;
	height: .4rem;
	float: left;
	margin-right: .18rem
}

.box04 ul li:last-of-type {
	color: #e11326;
	font-weight: bold
}

.box04 ul:last-of-type {
	margin-top: .3rem
}

.box05 {
	width: 100%;
	background: #fff;
	padding: .5rem 0 .4rem;
	box-sizing: border-box
}

.box05>.content {
	width: 100%;
	background: #004ea1;
	margin-top: .46rem
}

.box05>.content .swiper-container {
	padding: .28rem;
	box-sizing: border-box;
	overflow: hidden
}

.box05>.content #banner .swiper-pagination-bullet-active {
	background: #fff
}

.box05>.content #banner .swiper-slide {
	box-sizing: border-box;
	padding: .04rem
}

.box05>.content #banner .swiper-slide .slide-main {
	width: 6.9rem;
	overflow: hidden;
	border: .04rem solid #3977f9;
	border-radius: .08rem;
	padding: .24rem;
	box-sizing: border-box
}

.box05>.content #banner .swiper-slide .slide-main .slide-top .pic {
	width: 2.55rem;
	height: 2.55rem;
	overflow: hidden;
	float: left;
	margin-right: .22rem
}

.box05>.content #banner .swiper-slide .slide-main .slide-top h3 {
	font-size: .3rem;
	color: #fff
}

.box05>.content #banner .swiper-slide .slide-main .slide-top p {
	font-size: .24rem;
	color: #fff;
	font-weight: 400;
	margin: .18rem 0
}

.box05>.content #banner .swiper-slide .slide-main .slide-top p:nth-of-type(2) {
	display: flex;
	justify-content: left;
	margin: 0
}

.box05>.content #banner .swiper-slide .slide-main .slide-top p:nth-of-type(2) span {
	padding: .08rem .04rem;
	background: #f0f2f5;
	font-size: .24rem;
	color: #3977f9;
	border-radius: .08rem;
	margin-right: .06rem
}

.box05>.content #banner .swiper-slide .slide-main .slide-top .btn {
	width: 56%;
	padding: .16rem 0;
	text-align: center;
	background: #e74251;
	color: #fff;
	box-sizing: border-box;
	border-radius: .08rem;
	float: right;
	font-size: .28rem
}

.box05>.content #banner .swiper-slide .slide-main>p {
	padding: .1rem;
	border-bottom: 1px dashed rgba(209, 209, 209, 0.4);
	font-size: .24rem;
	font-weight: 300;
	color: #fff
}

.box06 ul {
	margin-top: .5rem;
	border: 1px solid #000
}

.box06 ul li:last-of-type ol {
	border-bottom: none
}

.box06 ul li>ol {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #000
}

.box06 ul li>ol li {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 2.3rem;
	height: 2.3rem;
	padding: .3rem;
	box-sizing: border-box;
	border-right: 1px solid #000
}

.box06 ul li>ol li:last-of-type {
	border-right: none
}

.footer ul {
	width: 100%;
	max-width: 7.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: .3rem;
	position: fixed;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	z-index: 999
}

.footer ul li {
	height: .88rem;
	line-height: .88rem;
	text-align: center;
	width: 90%;
	border-radius: 0.266666rem;
}

.footer ul li:first-of-type {
	background: #004ea1
}

.footer ul li:last-of-type {
	background: #e11326
}

.footer ul li a {
	display: inline-block;
	width: 100%;
	height: .88rem;
	color: #fff
}

.layout {
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	z-index: 9999;
	display: none
}

.layout .content {
	width: 6.8rem;
	height: 10rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url("layout01.png"/*tpa=http://rdy.jxhuiwen.com/static/image/layout01.png*/) no-repeat;
	background-size: cover;
	padding-top: 7rem;
	box-sizing: border-box;
	text-align: center
}

.layout .content input[type='text'] {
	width: 5.2rem;
	height: .6rem;
	border: 1px solid #f68d59;
	border-radius: .08rem;
	background: #f4e6e7;
	text-align: center;
	font-size: .3rem
}

.layout .content input::-webkit-input-placeholder {
	color: #959595
}

.layout .content input[type='checkbox'] {
	color: #b9abaa
}

.layout .content .close {
	width: .4rem;
	height: .4rem;
	position: absolute;
	right: 0;
	top: 0
}

.layout .content .btn {
	width: 5.76rem;
	height: 1.1rem;
	margin: 0 auto;
	background: url("layout_btn01.png"/*tpa=http://rdy.jxhuiwen.com/static/image/layout_btn01.png*/) no-repeat;
	background-size: cover
}

.layout .content span {
	font-size: .14rem;
	color: #b9acaa;
	margin-left: .1rem
}
